/* GLOBAL */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/webfonts/Montserrat-VariableFont_wght.ttf");
}

i {
    user-select: none;
}

ul, li {
    list-style: none;
}

hr {
    width: 100%;
    background-color: #05D962;
    height: 1px;
    border: none;
}

select,
textarea {
    min-height: 2rem;
    border-radius: 5px;
    padding-left: 10px;
}

span {
    color: #05D962;
}

li {
    line-height: 150%;
}

.montserrat {
    font-family: Montserrat;
}

.mainspace {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
    font-family: Montserrat;
}

/* SETTINGS MENU */

.side-menu {
    padding: 1rem;
    background-color: #202123;
    color: white;
    width: 15%;
    min-width: 330px;
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.burger-menu {
    position: absolute;
    top: 1em;
    left: 1em;
    color:#05D962;
}

.logo > svg {
    height: 150px;
}

.mini-logo {
    display: inline-block;
    background-image: url("../assets/img/pandora-box-logo.svg");
    background-size: cover;
    background-position: center;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 1em;
}

.side-menu-input {
    max-width: 150px;
}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.settings-row label {
    min-width: 80px; 
    margin-right: 10px;
}

.settings-row input,
.settings-row select {
    flex: 1;
}

#pc-model {
    font-size: 0.75rem;
    padding-bottom: 1em;
}

.usage-percentage {
    text-align: end;
    padding-right: 0.75em;
    font-size: 1.75em;
}
  
.usages {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CPU,
.RAM {
    width: 45%;
    height: 100%
}

.green-border {
    border-bottom: 1px solid #05D962;
    border-right: 1px solid #05D962;
    border-radius: 0 0 5px 0;
}

.green-border > li {
    padding-left: 10px
}

/* CHAT */

.chat {
    display: flex;
    flex-direction: column;
    background-color: #444654;
    color: white;
    width: 100%;
    justify-content: flex-start;
}

.dragging-over {
    filter: brightness(0.5);
}

.chat-box {
    display: flex;
    background-color: #343541; 
    padding: 2em;
    width: 100%;
    position: relative;
}

.time-spent {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
}

.chat-box > .flex-column p {
    line-height: 150%;
    user-select: text;
    word-break: break-word;
    /* thanks god for pre-wrap, text comes already formatted so I don't have to hack my way */
    white-space: pre-wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        max-width: 1024px;
    }
}

.upper-chat {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #05D962 #282C34;
}

.lower-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 400px;
    background-color: #343541;
    border-top: 1px solid#05D962;
    user-select: none;
    padding: 1em;
}

.attachment-chat {
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.attachment {
    img {
       max-height: 100px !important; 
       padding: 0 0.5em 0.5em 0.5em;
    }
}

.chat-wrapper {
   display: flex;
   width: inherit;
   justify-content: center;
   align-items: center;
}

.snippet-header {
    display: flex;
    justify-content: space-between;
    background-color: #343541;
    color: #05D962;
    padding: 0.8em;
    border-bottom: 1px solid #05D962;
}

.blockquote {
    padding: 0.2em;
    border-radius: 5px;
    background-color: grey;
    color: #05D962;
    font-family: monospace;
    font-size: large;
}

.tag-header {
    width: fit-content;
    align-self: flex-start;
    border-bottom: 1px solid #05D962;
    border-right: 1px solid #05D962;
    color: #05D962;
    padding: 0.2em 1em 0.2em 0.2em;
    border-radius: 0 0 5px 0;
}

.green-border > .tag-header {
    border: none;
}

#input-chat {
    display: flex;
    justify-content: flex-start;
    color: white;
    min-height: 58px;
    height: auto;
    max-height: 200px;
    width: 70%;
    background-color: #444654;
    resize: none;
    padding: 1em;
    padding-right: 4em;
    line-height: 150%;
    font-family: 'montserrat';
    font-size: 1em;
    caret-color: #05D962;
    overflow-wrap: anywhere;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #444654;
    white-space: pre-wrap;
    /* text-align: center; */
}

#input-chat:focus {
    /* I don't know why but needs both :S */
    outline: none;
    border-color: #05D962;
}

#input-chat::-webkit-scrollbar {
  display: none;
}

 /* typing animation */

.dot {
    display: none;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: #05D962;
    margin: 0.15em;
}

.container {
    display: flex;
    position: relative;
    bottom: 10px;
    right: 50px;
    color:#05D962;
}

i {
    transition: scale 0.3s;
    font-size:x-large;
}

.options:hover {
    scale: 1.2;
}

.options:hover > .fa-circle-stop {
    scale: 1;
}

.send-icon {
    position: relative;
    right: 35px;
    color:#05D962;
    transition: scale 0.3s;
}
  
.container .dot:nth-last-child(1) {
    animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
}
.container .dot:nth-last-child(2) {
    animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
}
.container .dot:nth-last-child(3) {
    animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
}
  
  @keyframes jumpingAnimation {
    0%{
      transform: translate3d(0,0,0);
    }
    50% {
      transform: translate3d(0, 15px,0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }


/* options menu */

.side-menu-input {
    background-color: #202123;
    color: white;
}

option:checked {
    background-color: #05D962;
}   

.options-menu {
    display: flex;
}

.options {
    padding: 0.25em;
}

#option-attach {
    margin-right: 0.45em;
}

/* snippets */

pre > code > span{
    user-select: text;
}

code {
    font-family: 'Montserrat';
    font-size: 16px;
    width: 100%;
}


/* notifications */
.notification {
    display: none;
    align-items: center;
    font-family: 'Montserrat';
    color: white;
    padding: 1em;
    border: 1px solid #05D962;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #202123;
    z-index: 9;
    width: max-content;
    /* animation: fadeAndMove 1s ease-in-out; */
}

.notification i {
    color:#05D962;
    margin-right: 0.5em;
}

.fa-circle-stop {
    color: orangered;
    animation: stopResponseAnimation 1.2s infinite ease-in-out;
}

@keyframes fadeAndMove {
    0% {
      opacity: 0;
      top: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      top: 10%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 10%;
    }
    100% {
        opacity: 0;
        top: 0;
    }
}

@keyframes stopResponseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }


@media (orientation: portrait) {
    .chat-box {
        padding: 2em 1em 2em 1em !important;
    }
    .mini-logo {
        display: none !important;
    }

    .side-menu {
        width: 100% !important;
    }
}

@media (orientation: landscape) {
    .side-menu {
        width: 15% !important;
    }
}