/* GLOBAL */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/webfonts/Montserrat-VariableFont_wght.ttf");
}

ul, li {
    list-style: none;
}

hr {
    width: 100%;
    background-color: #05D962;
    height: 1px;
    border: none;
}

select,
textarea {
    min-height: 2rem;
    border-radius: 5px;
    padding-left: 10px;
}

textarea:disabled {
    cursor: not-allowed;
}

.cursor-forbbiden {
    cursor: not-allowed;
}

span {
    color: #05D962;
}
 
h3 {
    align-self: flex-start;
    border-bottom: 1px solid #05D962;
    border-right: 1px solid #05D962;
    color: #05D962;
    padding: 0.2em 1em 0.2em 0.2em;
    border-radius: 0 0 5px 0;
}

li {
    line-height: 150%;
}

.mainspace {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100vh;
    font-family: Montserrat;
}

/* SETTINGS MENU */

.side-menu {
    padding: 1rem;
    background-color: #202123;
    color: white;
    width: 15%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    user-select: none;
}

.logo {
    background-image: url("../assets/img/pandora-img.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 3px solid #05D962;
}

.mini-logo {
    display: inline-block;
    background-image: url("../assets/img/pandora-img.jpg");
    background-size: cover;
    background-position: center;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 1em;
}

.side-menu-input {
    max-width: 150px;
}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.settings-row label {
    min-width: 80px; 
    margin-right: 10px;
}

.settings-row input,
.settings-row select {
    flex: 1;
}

#pc-model {
    font-size: 0.75rem;
    padding-bottom: 1em;
}

.usage-percentage {
    text-align: end;
    padding-right: 0.75em;
    font-size: 1.75em;
}
  
.usages {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CPU,
.RAM {
    width: 45%;
    height: 100%
}

.green-border {
    border-bottom: 1px solid #05D962;
    border-right: 1px solid #05D962;
    border-radius: 0 0 5px 0;
}

.green-border > li {
    padding-left: 10px
}

h4 {
    color: #05D962;
}

/* CHAT */

.chat {
    display: flex;
    flex-direction: column;
    background-color: #444654;
    color: white;
    width: 85%;
    justify-content: flex-start;
}

.chat-box {
    display: flex;
    background-color: #343541; 
    padding: 2em;
    padding-right: 10em;
    padding-left: 10em;
    width: 100%;
}

.chat-box p {
    line-height: 150%;
    user-select: text;
    word-break: break-word;
    /* thanks god for pre-line, text comes already formatted so I don't have to hack my way */
    white-space: pre-line;
}

.upper-chat {
    height: 100%;
    overflow-y: auto;
}

.lower-chat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 300px;
    background-color: #343541;
    border-top: 1px solid#05D962;
    user-select: none;
    padding: 1em;
}

.snippet-header {
    display: flex;
    justify-content: space-between;
    background-color: #343541;
    color: #05D962;
    padding: 0.8em;
    border-bottom: 1px solid #05D962;
}

#input-chat {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    min-height: 50px;
    height: auto;
    max-height: 200px;
    width: 660px;
    background-color: #444654;
    resize: none;
    padding: 1em;
    padding-right: 4em;
    line-height: 150%;
    font-family: 'montserrat';
    font-size: 1em;
    caret-color: #05D962;
    overflow-wrap: anywhere;
    overflow-y: auto;
    border-radius: 5px;
    /* text-align: center; */
}

#input-chat:focus {
    /* I don't know why but needs both :S */
    outline: #05D962;
    border-color: #05D962;
}

#input-chat::placeholder {
    text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#input-chat::-webkit-scrollbar {
  display: none;
}
/* typing animation */

.dot {
    display: none;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    background-color: #05D962;
}

.container {
    position: relative;
    bottom: 10px;
    right: 50px;
    color:#05D962;
}

i {
    transition: scale 0.3s;
    font-size:x-large;
}

i:hover {
    scale: 1.2;
}

.send-icon {
    position: relative;
    right: 35px;
    color:#05D962;
    transition: scale 0.3s;
}
  
.container .dot:nth-last-child(1) {
    animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
}
.container .dot:nth-last-child(2) {
    animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
}
.container .dot:nth-last-child(3) {
    animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
}
  
  @keyframes jumpingAnimation {
    0%{
      transform: translate3d(0,0,0);
    }
    50% {
      transform: translate3d(0, 15px,0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }


/* options menu */

.options-menu {
    /* position: relative;
    left: 30em; */
}

.options {
    padding: 0.25em;
}

/* snippets */

pre > code > span{
    user-select: text;
}

code {
    font-family: 'Montserrat';
    font-size: 16px;
    width: 100%;
}


/* notifications */
.notification {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: white;
    padding: 1em;
    border: 1px solid #05D962;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #202123;
    z-index: 9;
    /* animation: fadeAndMove 1s ease-in-out; */
}

.notification i {
    color:#05D962;
    margin-right: 0.5em;
}

@keyframes fadeAndMove {
    0% {
      opacity: 0;
      top: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      top: 10%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 10%;
    }
    100% {
        opacity: 0;
        top: 0;
    }
}
